.user-notification{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.user-notification .user-notification--target--information img{
    border-radius: 100%;
    float: left;
    margin-right: 10px;
}

a{
    color: #000000;
}

.user-notification .user-notification--target--information img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.user-notification .user-notification--target_image img{
    object-fit: cover;
}


@media (max-width: 600px) {  
    .user-notification--message {
        width: 200px;
    }

    .user-notification--message p{
        font-size: 13px;
    }

    .user-notification .user-notification--target_image img{
        width: 40px;
        height: 40px;
        object-fit: cover;
    }

    .user-notification{
        margin-bottom: 7px;
    }
    

    
}

@media (min-width: 601px) {  
    .user-notification--message {
        width:400px;
    }
    .user-notification .user-notification--target_image img{
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .user-notification{
        margin-bottom: 30px;
    }

    
}