.user-notification{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.user-notification .user-notification--target--information img{
    border-radius: 100%;
    float: left;
    margin-right: 10px;
}

a{
    color: #000000;
}

.user-notification .user-notification--target--information img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.user-notification .user-notification--target_image img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}


@media (max-width: 600px) {  
    .user-notification--message {
        width: 200px;
    }

    
}

@media (min-width: 1024px) {  
    .user-notification--message {
        width:400px;
    }

    
}