:root{
    --mobile-media:600px;
}

*{
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: white;
}

input[type="checkbox"]{
    display: none;
}


.btn-grad {background-image: linear-gradient(to right, #ee0979 0%, #ff6a00  51%, #ee0979  100%)}
.btn-grad {
    display: block;
   margin: 10px;
   transition: 0.5s;
   background-size: 200% auto;
   color: rgb(0, 0, 0);            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


form .avatar{
    width: 55px;
    margin-bottom: 15px;
}

.nav-item a i{
    font-size: 30px;
}

/*
#app nav{
    background-image: linear-gradient(#fe7763, #fc3a5d);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*/

#app{
    margin-top: 4.5rem;
}


.user-post-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 300px));
    justify-content: center;
    grid-gap: 30px;
  }
  .user-post-container--post {
    cursor: pointer;
    position: relative;
    display: block;
  }
  .user-post-container--image {
    margin: 0;
  }
  .user-post-container--image img {
    width: 100%;
    object-fit: cover;
    vertical-align: top;
  }
  .user-post-hover {
    background: rgba(0, 0, 0, 0.308);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }
  
  .user-post-container--post:hover .user-post-hover{
    display: flex;
  }
  
  .user-post-likes,
  .user-post-comments {
    width: 80px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
  }
  

.row{
    margin-left: 0;
    margin-right: 0;
}

.drop-menu-title{
    margin-top: 10px;
}

.navbar .container-avatar, .user-post .container-avatar{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 1000px;
    margin-left: 15px;
    padding: 0;
    overflow: hidden;
}

.navbar .container-avatar img, .user-post .container-avatar img{
    width: 100%;
    height: 100%;
}

.user-post .container-avatar {
    float: left;
    margin-right: 15px;
}

.user-nick{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-nick i{
    font-size: 20px;
}

.user-post .user-nick{
    font-weight: 600;
    line-height: 35px;
}

.user-post {
    margin-bottom: 30px;
}

.user-post .user-nick a{
    color:#000000;
}

.image-container{
    width: 100%;
    max-height: 450px;
    overflow: hidden;
}

.image-container img{
    width: 100%;
    height: auto;
    object-fit: cover;

}

.user-post .card-body{
    padding: 0;
}



.profile-card-status .card-body__left .container-avatar img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-top: 25px;
    object-fit: cover;
    padding:2px;
}


.card .card-body .user-information{
    display: flex;
}


.user-post .card-body__description{
    padding: 20px;
    padding-bottom: 0;
    padding-top: 5px;
}

.user-post .card-body__description .like-counter {
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-post .btn-comments{
    margin: 20px;
    margin-left: 11px;
    margin-top: 0;
    margin-bottom: 0;
}

.user-post .post-uploated-date{
    margin: 20px;
    margin-top: 0;
    color: rgb(134, 134, 134);
}

.user-post .card-body__description p a{
    color: #000000;
}

.user-post .card-body__description p a span{ 
        margin-right: 5px;
}


.card-body .card-body__likes{
    padding: 20px;
    padding-bottom: 0;
}

.card-body .card-body__likes img{
    width: 25px;
    height: 25px;
}

.card-body .card-body__likes img:hover{
    cursor: pointer;
}

.user-post .card-body__comments{
    padding: 15px;
}

.user-post .card-body__comments form {
    display: flex;
    flex-direction: row;
    align-self: start;
}

.user-post .card-body__comments form p{
    width: 75%;
}

.user-post .card-body__comments form p input{
    width: 100%;
    outline: none;
    border: none;
}

.comments-container #comment-post-date{
    color: gray;    
}


.comments-container #comment-delete svg{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-bottom: 3px;
    right: 2rem;
}

.comments-container #comment-delete svg:active{
    transform: scale(0.9);
}

.user-post .card-body__comments form button{
    height: 30px;
    margin-left: 5px;
    background-color: #FFFFFF;
    color: #149DF7;
    font-weight: 600;
}

.profile-card-status{
    background-color: #F8FAFC;
}

.its-me{
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    /*background-image: linear-gradient(#fe7763, #fc3a5d);
    bbackground-repeat: no-repeat;
    background-attachment: fixed;*/
    /*
    border-width: 2.3px;
    border-style: solid;
    border-image: 
        linear-gradient(
        to bottom, 
        rgb(0, 145, 255), 
        rgb(255, 255, 255)
        ) 1 100%;
    */
}

#user-search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    background-color: #EFEFEF;
    border-radius: 10px;
}

#user-search input{
    width: 70%;
    margin-left: 10px;
    border: none;
    background-color: #EFEFEF;
    outline: none !important;
}

#user-search button{
    outline: none;
    border: none;
    font-size: 18px;
}

.verificado{
    width: 30px;
    margin-left: 5px;
    margin-bottom: 5px;
    object-fit: cover;
}

.login-register-buttons div {
    text-align: center;
}

.login-register-buttons div button {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.login-register-buttons div button a{
    text-decoration: none;
    color: white;
}

.card .card-body .user-information .card-body__right #header-card #config-btn-auth:active{
    transform: scale(.9);
}

.card .card-body .user-information .card-body__right .card-body__right--features p {
    font-weight: 450;
}

.card .card-body .user-information .card-body__right .card-body__right--features p span{
    font-weight: 600;
}

/*
input[type="checkbox"]{
    display: none;
}
*/

.eye-show{
    font-size: 25px;
}

#select_lang{
    border: none;
    background-color: #FFFFFF;
}

.login-button{
    border: 0;
    border-radius: 50px;
    background: #4b71ff;
    color: #fff;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .25);
    cursor: pointer;
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}

.alert-danger{
    text-align: center;
}

#preview-upload-image{
    width: 200px;
    display: block;
    margin: auto;
    border-radius: 50%;
}

.card .card-body .user-information .card-body__right a{
    margin-left: 10px;
    font-size: 23px;
    
}

@media (max-width: 600px) {  

    .activity-text{
        margin-left: 20px;
    }
    
    .col-md-8{
        padding: 0;
    }
    .card{
        width: 100%;
    }

    .card, .car-body, .card-header{
        border-top: none;
        border-bottom: none;    
        border-left: none;
        border-right: none;
    }

    .image-container{
        border-bottom: none;
    }

    .container{
        padding: 0;
    }

    .navbar .container-avatar, .drop-menu-title{
        margin: 0;
    }

    #user-search{
        width: 80%;
        margin: auto;
    }

    .profile-card-status{
        width: 90%;
        margin: auto;
        border-radius: 10px;
    }

    .profile-card-status .user-information{
        flex-direction: flex;
    }


    .profile-card-status .card-body__left .container-avatar{
        display: block;
        width: 90px;

    }


    .profile-card-status .card-body__right{
        margin-left: 50px;
    }

    .profile-card-status .card-body__right .card-body__right--features div p span{
        padding: 5px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
    }
    .navbar .container-avatar{
        margin-right: 0;
    }
    .nav-link-user-profile-image{
        display: none;
    }

    .user-post-container {
        grid-gap: 3px;
    }

    .user-post-container--image img {
        height: 100px;
    }

}

@media only screen and (min-device-width: 450px) and (max-device-width: 601px) {  
    .user-post-container--image img {
        height: 150px;
    }
    .user-post-container {
        grid-gap: 10px;
    }
    
}
@media (min-width: 1024px) {  

    .card .card-body .user-information {
        width: 90%;
        margin: auto;
    }

    .card .card-body .user-information .card-body__left{
        width: 20%;
        margin-left: 50px;
    }   
    
    .card .card-body .user-information .card-body__left > .container-avatar img{
        display: block;
        width: 130px;
        height: 130px;
        border-radius: 100%;
        padding: 5px;
        object-fit: cover;
    }

    .card .card-body .user-information .card-body__right{
        margin-left: 90px;
        margin-top: 10px;
    }

    .card .card-body .user-information .card-body__right #header-card h4{
        display: inline;
    }

    .card .card-body .user-information .card-body__right #header-card #verified-image{
        display: inline;
        margin-left: 5px;
    }


    .card .card-body .user-information .card-body__right #header-card #config-btn-auth{
        margin-left: 10px;
        font-size: 20px;
        border-radius: 20px;
    }

    .card .card-body .user-information .card-body__right .card-body__right--features{
        margin-top: 15px;
    }
    
    .card .card-body .user-information .card-body__right .card-body__right--features p span{
        margin-right: 5px;
    }

    .card .card-body .user-information .card-body__right #user-quote{
        margin-top: 30px;
        font-size: 18px;
    }

    .navbar .sunshine-user{
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    .navbar .sunshine-user a i{
        color:rgb(255, 255, 78); 
        opacity:0.9;
        background-image: linear-gradient(#fe7763, #fc3a5d); 
        background-repeat: no-repeat; 
        background-attachment: fixed;

    }

    .user-post-container--image img {
        height: 200px;
        width: 100%;
    }

}
.card .card-body .user-information .card-body__right h4{
    display: inline;
    
}
@media only screen and (min-device-width: 1250px){  
    .user-post-container--image img {
        height: 250px;
    }
    .user-post-container {
        grid-gap: 10px;
    }
}

@media only screen and (min-device-width: 601px) and (max-device-width: 1024px) {  

    .activity-text{
        margin-left: 25px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
    }


    .profile-user-main-container{
        width: 80%;
        margin: auto;
    }


    .card .card-body .user-information{
        flex-direction: row;
    }

    .card .card-body .user-information .card-body__left{
        width:25%;
        margin: auto;
    }
    
    .card .card-body .user-information .card-body__left .container-avatar img{
        width: 100%;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    
    .card .card-body .user-information .card-body__right{
        margin-left: 60px;
        margin-top: 15px;
        width:75%;
    }
    
    .card .card-body .user-information .card-body__right p{
        font-weight: 450;
    }

    .card .card-body .user-information .card-body__right .card-body__right--features {
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top:10px;
    }
    
    .card .card-body .user-information .card-body__right .card-body__right--features > div p{
        width: 100px;
        font-weight: 450;
        
    }
    
    .card .card-body .user-information .card-body__right .card-body__right--features > div p span{
        font-weight: 600;
        padding: 5px;
    }

    .navbar .container-avatar{
        margin-left: 25px;
    }

    .welcomeview-images{
        border:1px solid black;
        border-radius: 10px;
    }

    .user-post-container--image img {
        height: 175px;
    }
    .user-post-container {
        grid-gap: 10px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1000px) {  
    .user-post-container--image img {
        height: 125px;
    }
    .user-post-container {
        grid-gap: 10px;
    }
}


@keyframes floating {
    0% { transform: translate(5,  0px); opacity: 0.5;}
    50%  { transform: translate(10px, 3px); opacity: 1;}
    100%  { transform: translate(-5, -0px); opacity: 0.5;}   
}






/*pkefnoqe*/
