*{
    box-sizing: border-box;
    padding: 0;
    
}


body {
    font-family:Roboto,Helvetica,Arial,sans-serif;
}


@media (max-width: 768px) { 
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container .card{
        border: 0;
    }

    .container .card a{
        text-align: center;
        color: #000000;
    }

    .container .card a span{
        color:#0095f6;
        font-weight: 600;
    }

    .container .language-select{
        text-align: center;
        margin: 16px 16px 6px;
    }

    .container .language-select select{
        border: none;
        padding: 5px;
        background-color: #FFFFFF;
    }
    .container .app_name, .container .eslogan{
        text-align: center;
        margin: 22px auto 12px;
    }

    footer{
        margin-top: 6.8rem;
        text-align: center;
    }

    footer img{
        width: 27px;
    }

}
