*{
    box-sizing: border-box;
    padding: 0;
    
}

header{
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: linear-gradient(#fe7763, #fc3a5d);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 30px;
    text-align: center;
}

#app-icon{
    display: block;
    margin: 1rem auto;
    width: 90px;
}
  

li{
    margin: 16px 16px 6px;
}

li, li .dropdown-menu{
    position: absolute;
    list-style: none;
    left: 0;
    right: 0;
    text-align: center; 
    color: #0095f6;   
    font-weight: 600;
}

.dropdown-menu{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    z-index: 2;
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .card a{
    text-align: center;
    color: #000000;
}

.container .card a span{
    color:#0095f6;
    font-weight: 600;
}

.language-select select{
    border: none;
    padding: 5px;
    background-color: #FFFFFF;
    outline: none;
}

.container .app_name, .container .eslogan{
    text-align: center;
    margin: 22px auto 12px;
}

.back-btn, .profile-btn{
    background-image: linear-gradient(#fe7763, #fc3a5d);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFFFFF;
}


.logged-user-image img{
    display: block;
    margin: auto;
    width: 200px;
    border-radius: 100%;
    padding: 5px;
}

.bg-gradient{
    background-image: linear-gradient(#fe7763, #fc3a5d);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.shunshine-container__left-gallery{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}



footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
}

footer p{
    font-size: 15px;
}

footer .credits{
    width: 300px;
}

footer img{
    width: 75px;
    padding: 5px;
}

footer{
    background-image: linear-gradient(#fe7763, #fc3a5d);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (max-width: 1023px) { 

    li{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    
    .card{
        border: none;
        border: 0;
    }
    .container .card{
        border: 0;
    }

    .shunshine-container .shunshine-container__left-gallery{
        display: none;
        
    }



    footer{
        margin-top: 6.8rem;
    }


}

@media (min-width: 1024px) { 

    .container{
        max-width: 375px;
        height: 450px;
        margin: auto;
        padding: 20px;
        margin-top: 4rem;
    }

    li{
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
    

    .card{
        border: none;
    }
    

    .shunshine-container{
        width: 90%;
        margin: 5rem auto;
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    
    .shunshine-container__left-gallery{
        max-width: 850px;
        padding: 10px;
        max-height: 325px;
        margin: auto;
    }    
    
    /*
    .shunshine-container__left-gallery .floating-users{
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

    }
    */

    .image-column {
        flex-grow: 1;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 30px;
        justify-items: center;
        align-items: center;
        
    }
    .image-column img {
        z-index: 1;
        grid-column: span 2;
        max-width: 100%;
        margin-bottom: -52%;
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        transform: scale(1);
        transition: all 0.25s;
   }
    .image-column img:nth-child(7n + 1) {
        grid-column: 2 / span 2;
    }
   
   .image-column img:hover {
        z-index: 2;
        transform: scale(2);
        cursor: pointer;
    }
    
      

}

@keyframes floating {
    0% { transform: translate(7,  0px); }
    50%  { transform: translate(10px, 15px); }
    100%   { transform: translate(-7, -0px); }   
}